@using LogRegistration.Models.DTOs;
@model RegisterDTO;

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@*Code*@

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Register</h2>

    <form asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
        <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Firstname" class="form-label"></label>
                        <input asp-for="Firstname" class="form-control" placeholder="First name" />
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Empnumber" class="form-label"></label>
                        <input asp-for="Empnumber" class="form-control" placeholder="Employee Number" />
                        <span asp-validation-for="Empnumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Position" class="form-label"></label>
                        <input asp-for="Position" class="form-control" placeholder="Position" />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

            </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Lastname" class="form-label"></label>
                        <input asp-for="Lastname" class="form-control" placeholder="Last name" />
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Manager" class="form-label"></label>
                        <input asp-for="Manager" class="form-control" placeholder="Manager" />
                        <span asp-validation-for="Manager" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <input type="submit" value="Register" class="btn btn-success w-100 p-2" />
                <p class="text-center mt-2">
                    Already have an account? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a>
                </p>

                <div class="text-center">
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none"> Return Home</a>
                </div>
            </div>
    </form>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}